<app-nav></app-nav>
<div class="w-screen h-20 bg-custom-color mt-16 relative">
    <button (click)="handleButtonClick()"
      class="text-black mt-6 bg-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center ml-4 md:ml-16 dark:bg-white dark:hover:bg-orange-500 dark:focus:ring-orange-500">
      <svg aria-hidden="true" class="w-4 h-4 transform rotate-180" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
      </svg>
      <span class="sr-only">Icon description</span>
    </button>
    <hr class="absolute bottom-0 left-0 w-screen border-gray-400 mt-4">
  </div>
  
  <div class="w-screen h-24 bg-custom-color">
    <h2 class="text-center text-gray-500 font-quicksand text-2xl pt-12 font-extrabold">Who Do You Want To Consult?</h2>
  </div>
  
  <div class="flex justify-center bg-custom-color">
    <div class="flex flex-col md:flex-row border-2 bg-white border-gray-100 rounded-l-3xl rounded-r-3xl my-4 w-auto">
      <!-- Use *ngFor to iterate through the services array -->
      <div
      *ngFor="let service of services; let last = last"
      class="p-2 m-1 font-quicksand md:flex-1 relative"
      (click)="getServices(service._id)"
      [ngClass]="{ 'selected': selectedServiceId === service._id }"
    >
        <div
          class="w-full md:w-32 cursor-pointer text-center"
          [ngStyle]="{
            'background-color': selectedServiceId === service._id ? 'white' : 'white',
            'color': selectedServiceId === service._id ? 'orange' : 'orange'
          }"
        >
          <h1 class="font-extrabold ">{{ service.name }}</h1>
          <!-- Assuming 'name' and '_id' are properties of the 'getAllService' interface -->
        </div>
        <div
          class="absolute w-full h-0.3 bg-gray-400 bottom-0 md:right-0 md:w-0 md:h-full"
          [ngStyle]="{ 'display': !last ? 'block' : 'none' }"
        ></div>
      </div>
    </div>
  </div>
  
  
  <div class="w-screen h-20 bg-custom-color relative">
    <h3 class="p-8 font-quicksand font-extrabold text-gray-500 text-center">Consult a healthcare professional for your common health concerns.</h3>
  </div>
  
  <div class="w-screen h-20 bg-white relative">
    <h3 class="p-8 font-quicksand font-extrabold text-gray-500 text-center"></h3>
  </div>
  
  <div class="h-screen w-screen">
    <div class="h-auto md:h-1/2 flex justify-center">
      <div class="grid grid-cols-1 h-72 md:grid-cols-2 gap-8 p-4">
        <div *ngFor="let counselor of counselors" class="bg-white border border-gray-300 rounded-lg shadow hover:bg-gray-100 dark:border-gray-300 dark:bg-white dark:hover:bg-slate-100 ">
          <div class="flex flex-row ml-3">
            <img class="object-cover w-14 h-14 rounded-t-lg md:h-auto md:w-40 md:rounded-none md:rounded-l-lg mt-4 ml-4" src="https://cdn-icons-png.flaticon.com/512/8815/8815112.png" alt="https://cdn-icons-png.flaticon.com/512/8815/8815112.png">
            <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-green-600 font-quicksand text-center" style="color:rgb(78, 97, 55);">{{ counselor.name }}</h5>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">{{ counselor.experience }}+ years of experience</p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">{{counselor.state}}, {{ counselor.country }}</p>
              <div class="text-white w-full md:w-80 h-8 rounded-lg align text-center mt-3" style="background-color: rgb(78, 97, 55);">
                <button class="dark:text-white font-quicksand p-1" (click)="BookId(counselor._id)">BOOK NOW</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
   




            
      
      
      


    