.w-full::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  @media (max-width: 640px) {
    .hidden-confirm-section {
      display: none;
    }
  }
  @media (max-width: 768px) {

    .w-9/12 {
      width: 90%;
    }
    
    .w-3/4 {
      width: 100%;
    }
    
    .mx-auto {
      margin-left: auto;
      margin-right: auto;
    }
    
    .mt-10 {
      margin-top: 2rem;
    }
    
    .mt-5 {
      margin-top: 1.25rem;
    }
    
    .mt-4 {
      margin-top: 1rem;
    }
    
    .pt-5 {
      padding-top: 1.25rem;
    }
    
    .pt-9 {
      padding-top: 2.25rem;
    }
    
    .mt-12 {
      margin-top: 3rem;
    }
    
    .w-72 {
      width: 100%;
    }
  }
  
  