<app-admin-nav></app-admin-nav>

<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-300 border rounded-lg dark:border-gray-600">
      <form #registerForm="ngForm" (ngSubmit)="submit()" enctype="multipart/form-data">
        <input type="text" [(ngModel)]="credentials.name" name="name" placeholder="Service name">
        <input type="file" (change)="onFileSelected($event)">
        
        <div *ngIf="selectedImage">
          <img [src]="selectedImage" alt="Selected Image">
        </div>
        
        <textarea class="form-textarea mt-2 block w-full" [(ngModel)]="credentials.description" name="description" placeholder="Description"></textarea>
        
        <br>
        
        <button class="bg-yellow-500 text-white px-4 py-2 rounded-lg">Submit</button>
      </form>
    </div>
  </div>
  