a {
    font-family: 'Quicksand';
    font-size: 0.97rem;
    line-height: 20px;
    opacity: 1;
    font-weight: 700;

    text-align: left;
    letter-spacing: unset;
    transition: background-color 0.3s;
  }
  
  a:hover {
    color:rgb(239, 68, 68)
  }
  .text-green-800 {
    color:rgb(239, 68, 68)

  }
  