<div class="h-screen bg-gray-200">
    <div class="flex">
        <div class="w-3/12 h-screen " style="background-color: #d3dfc6;">
             <button type="button"
            class="text-black mt-6 bg-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center  md:ml-4 dark:bg-white dark:hover:bg-orange-500 dark:focus:ring-orange-500">
            <svg aria-hidden="true" class="w-4 h-4 transform rotate-180"
                fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
            <span class="sr-only">Icon description</span>
            </button>
            
            <div class="hidden md:flex h-28 w-80 ml-5 rounded-lg mt-8 drop-shadow-lg bg-white ">
                <div class="h-full w-2/6 rounded-l-lg bg-gray-200">
                  <img class="object-cover w-full rounded-t-lg h-52 md:h-auto md:w-40 md:rounded-none md:rounded-l-lg" src="https://cdn-icons-png.flaticon.com/512/8815/8815112.png" alt="https://cdn-icons-png.flaticon.com/512/8815/8815112.png">
                </div>
                <div class="h-full w-4/6 p-4">
                  <h2 *ngIf="servicer?.name" class="font-quicksand font-bold text-xl text-gray-500" style="overflow-wrap: break-word;">
                    {{ servicer.name }}
                  </h2>
                  
                  <!-- Check if servicer.experience exists before displaying it -->
                  <p *ngIf="servicer?.experience" class="text-black font-quicksand text-sm pt-2" style="overflow-wrap: break-word;">
                    {{ servicer.experience }}+ years of experience
                  </p>
                  
                  <!-- Check if servicer.fee exists before displaying it -->
                  <p *ngIf="servicer?.fee" class="text-green-500 font-quicksand text-sm" style="overflow-wrap: break-word;">
                    {{ servicer.fee }}/-
                  </p>
                </div>
              </div>
              
                  
                
              <div class="p-4 mt-4">
                <div class="container">
                  <div class=" flex-col md:grid grid-cols-12 text-gray-50 mt-16 mr-7 hidden-confirm-section hidden sm:flex">
                    <div class="flex md:contents">
                      <div class="col-start-2 col-end-4 mr-10 md:mx-auto relative">
                        <div class="h-full w-6 flex items-center justify-center">
                          <div class="h-full w-1 bg-gray-500 pointer-events-none"></div>
                        </div>
                        <div class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-green shadow text-center">
                          <i class="fas fa-check-circle text-white"></i>
                        </div>
                      </div>
                      <div class="col-start-4 col-end-12 p-4 rounded-xl my-4 mr-auto shadow-md w-full" style="background-color: #4e6137">
                        <p class="leading-tight text-justify w-full font-extrabold font-quicksand">
                          Duration
                        </p>
                      </div>
                    </div>
              
                    <div class="flex md:contents">
                      <div class="col-start-2 col-end-4 mr-10 md:mx-auto relative">
                        <div class="h-full w-6 flex items-center justify-center">
                          <div class="h-full w-1 bg-gray-500 pointer-events-none"></div>
                        </div>
                        <div class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg--500 shadow text-center">
                          <i class="fas fa-check-circle text-white"></i>
                        </div>
                      </div>
                      <div class="col-start-4 col-end-12 p-4 rounded-xl my-4 mr-auto shadow-md w-full" style="background-color: #4e6137">
                        <p class="leading-tight text-justify font-quicksand font-extrabold">
                          Slot Selection
                        </p>
                      </div>
                    </div>
              
                    <div class="flex md:contents">
                      <div class="col-start-2 col-end-4 mr-10 md:mx-auto relative">
                        <div class="h-full w-6 flex items-center justify-center">
                          <div class="h-full w-1 bg-gray-500 pointer-events-none"></div>
                        </div>
                        <div class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-green-500 shadow text-center">
                          <i class="fas fa-check-circle text-white"></i>
                        </div>
                      </div>
                      <div class="col-start-4 col-end-12 p-4 rounded-xl my-4 mr-auto shadow-md w-full" style="background-color: #4e6137">
                        <p class="leading-tight text-justify font-quicksand font-extrabold" style="color: #fafafa;">
                          Confirmation
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
            
              
              </div>
              
                
        </div>
        
            
        
        <div class="w-9/12 min-h-screen shadow-lg" style="background-color: #fafafa;">
            <h1 class="text-2xl align text-center text-gray-700 font-quicksand font-extrabold pt-24">Confirmation</h1>
            <div class="flex items-center justify-center h-24 mt-12">
                <div class="h-24 w-80 border rounded-xl border-gray-300 shadow-lg">
                    <h1 class=" font-quicksand  text-lg font-extrabold pt-5 ml-28"></h1>

                    <h1 class="font-quicksand text-lg font-bold text-gray-500 ml-32"> {{ time.startTime }}</h1>
                    <h1 *ngIf="servicer?.fee" class="font-quicksand text-sm font-bold text-gray-500 pt-2 ml-32">
                      amount: {{ servicer.fee }}/-
                    </h1>
                



                </div>
            </div>
            
<!-- HTML -->
<div *ngIf="!hasOptionalParams" style="display: flex; justify-content: center;" class="mt-10">
  <input type="radio" id="stripePaymentOption" name="paymentOption" value="stripe" (click)="selectPaymentOption('stripe')" [checked]="selectedPaymentOption === 'stripe'">
  <label for="stripePaymentOption"  class="font-quicksand ml-2" >Stripe</label>


  <input type="radio" class="ml-5 " id="walletPaymentOption" name="paymentOption" value="wallet" (click)="selectPaymentOption('wallet')" [checked]="selectedPaymentOption === 'wallet'">
  <label for="walletPaymentOption" class="font-quicksand ml-2">Wallet ({{ wallet }}/-)</label>

</div>


<div class="flex justify-center items-center mt-20">
  <button [disabled]="!selectedPaymentOption && !hasOptionalParams" [style.background-color]="selectedPaymentOption ? '#4e6137' : '#ccc'" (click)="submit()" class="w-72 h-12 rounded-3xl font-quicksand text-white font-extrabold shadow-lg" style="letter-spacing: 1px;">PROCEED</button>
</div>


