<div class="w-full min-h-screen bg-no-repeat bg-cover bg-fixed" style="background-image: url('https://cdn.theinnerhour.com/assets/images/authentication/banner.png')">
  <div class="flex flex-col sm:flex-row justify-center items-center h-screen">
    <div class="flex-1 hidden sm:block items-start">
      <!-- Content for the left side -->
      <h1 class="text-4xl sm:text-5xl md:text-5xl leading-40 font-bold text-green-800 text-center mt-0 mb-4 sm:mt-2 sm:mb-8 md:mt-4 md:mb-10 mx-4 sm:mx-8 md:mx-12 font-quicksand font-semibold">
        Welcome to
      </h1>
      <h1 class="text-4xl sm:text-5xl md:text-5xl leading-40 font-bold text-green-800 text-center mt-0 mb-8 sm:mt-2 sm:mb-10 md:mt-4 md:mb-12 mx-4 sm:mx-8 md:mx-12 font-quicksand font-semibold">
        Emocare !
      </h1>
    </div>
    
    

    <div class="flex-1 mt-8">
      <!-- Content for the right side -->
      <div class="min-h-screen py-6 flex flex-col justify-center sm:py-12">
        <div class="relative py-3 sm:max-w-xl sm:mx-auto">
          <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-2xl sm:p-10">
            <div class="w-full mx-auto">
              <app-alert *ngIf="showAlert" [color]="alertColor">
                {{ alertMsg }}
              </app-alert>
              <div class="flex items-center justify-center space-x-5">
                <div class="block pl-2 font-semibold text-xl text-gray-700 text-center font-quicksand">
                  <h2 class="text-center">Sign up</h2>
                </div>
              </div>

              <div class="flex items-center justify-center mt-4 font-quicksand">
                <p class="text-gray-500">
                  Already have an account?
                  <a routerLink="/login" class="text-red-500 font-semibold">Login</a>
                </p>
              </div>
              <hr class="mt-4 border-gray-300">

              <div id="g_id_onload"
              data-client_id="921223360010-q5bsun4j315o4mqp2om8pe2erhga34pn.apps.googleusercontent.com"
              data-context="signup"
              data-ux_mode="popup"
              data-login_uri="http://localhost:5000/register"
              data-nonce=""
              data-auto_prompt="false">
         </div>
         
         <div class="g_id_signin"
              data-type="standard"
              data-shape="pill"
              data-theme="outline"
              data-text="continue_with"
              data-size="medium"
              data-logo_alignment="left">
         </div>

              <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="divide-y divide-white">
                  <div class="py-8 text-base leading-6 space-y-4 text-gray-300 sm:text-lg sm:leading-7">
                    <div class="flex flex-col">
                      <app-input [control]="name" type="text" placeholder="Enter Name"></app-input>
                    </div>
                    <div class="flex flex-col">
                      <app-input [control]="email" type="email" placeholder="Enter Email"></app-input>
                    </div>
                    <div class="flex flex-col mb-4">
                      <app-input [control]="password" type="password" placeholder="Password (min 8 characters)*"></app-input>
                    </div>
                    <div class="flex flex-col mt-4 pt-7 space-y-2">
                      <label class="inline-flex items-center text-gray-500 text-xs">
                        <input type="checkbox" class="form-checkbox h-3 w-3 text-red-500" formControlName="age" (change)="updateButtonColor()">
                        <span class="ml-2 text-sm">I am above 18 years of age</span>
                      </label>
                      <label class="inline-flex items-center text-gray-500 text-xs">
                        <input type="checkbox" class="form-checkbox h-3 w-3 text-red-500" formControlName="terms" (change)="updateButtonColor()">
                        <span class="ml-2 text-sm">I accept Terms & Conditions and Privacy Policy</span>
                      </label>
                    </div>
                  </div>
                  <div class="pt-4 flex items-center justify-center space-x-4">
                    <button [disabled]="registerForm.invalid || !terms.value" [ngClass]="{'bg-red-500': terms.value}" class="flex justify-center items-center w-40 h-12 text-white rounded-full focus:outline-none disabled:bg-gray-300 text-xs font-quicksand tracking-wider font-semibold" type="submit">CREATE ACCOUNT</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 