<!-- component -->
<!--
  UI Design Prototype
  Link : https://dribbble.com/shots/10452538-React-UI-Components
-->
<div style="background-image: url('https://cdn.theinnerhour.com/assets/images/authentication/banner.png')" class="w-full h-screen bg-no-repeat  bg-cover bg-fixed">
  <div style="display: flex;">
    <div style="flex: 1;">
      <!-- Content for the left side -->
 
    </div>
    <div style="flex: 1; ">
      <!-- Content for the right side -->
      <div class="min-h-screen  py-6 flex flex-col justify-center sm:py-12">
      <!-- component -->
<!--
  UI Design Prototype
  Link : https://dribbble.com/shots/10452538-React-UI-Components
-->
<div class="min-h-screen  py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
      <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
        <div class="w-96 mx-auto" >
            <div class="flex items-center justify-center space-x-5">
                <div class="block pl-2 font-semibold text-xl text-gray-700 text-center" style="font-family: 'Quicksand', sans-serif;">
                    <h2 class="text-center">Sign up</h2>
                </div>
            </div>
            
            <div class="flex items-center justify-center mt-4" style="font-family: 'Quicksand', sans-serif;">
                <p class="text-gray-500">
                    Already have an account?
                    <a href="#" style="color: rgb(231, 105, 67); font-size: inherit;">Login</a>
                </p>
            </div>
            <hr class="mt-4 border-gray-300">
            <div class="flex items-center justify-center mt-4">
                <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-300 rounded-full shadow flex items-center">
                  <a title="Google Inc., Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Google_%22G%22_Logo.svg">
                    <img width="30" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png">
                  </a>
                  <span class="ml-2">Sign up with Google</span>
                </button>
              </div>
              
              
              
              
            
            
            
         <form [formGroup]="registerForm">
          <div class="divide-y divide-gray-700">
            <div class="py-8 text-base leading-6 space-y-4 text-gray-300 sm:text-lg sm:leading-7">
              <div class="flex flex-col">
              
                <input type="text" formControlName="name" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                [ngClass]="{'border-red-500': registerForm.controls.name.touched || registerForm.controls.name.dirty || registerForm.controls.name.errors?.required }"
                placeholder="Full Name*" minlength="3">
            
                
                <p *ngIf="registerForm.controls.name.touched && registerForm.controls.name.dirty && registerForm.controls.name.errors?.required" class="text-red-500 text-xs font-quicksand tracking-wide antialiased">
                  please enter your name
                </p>
                <p *ngIf="registerForm.controls.name.touched && registerForm.controls.name.dirty && registerForm.controls.name.errors?.minlength" class="text-red-500 text-xs font-quicksand tracking-wide antialiased">
                  please enter your name
                </p>
                
                
                
              </div>
              <div class="flex flex-col">
               
                <input type="text" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Email Address">
              </div>
            
              <div class="flex flex-col">
                
                <input type="text" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Password( min 8 characters )*">
              </div>
            </div>
            <div class="pt-4 flex items-center justify-center space-x-4">
                <button class="bg-gray-300 flex justify-center items-center w-32 h-10 text-white rounded-full focus:outline-none">Create</button>
              </div>
              

              
          </div>
         </form>
        </div>
      </div>
    </div>
  </div>
          
       
          
      </div>
    </div>
  </div>
</div>