/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


  
  .material-icons.text-base {
    font-size: inherit;
  }
  
  .bg-secondary {
    background-color:#ffffff;
  }
  
  .bg-gradient {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }

  li {
    color: rgb(121, 121, 121);
  }
  
  